
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=1ce3523d2b7f1f2f8aaa03efd03e41cc
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress
